@media only screen and (min-width: 1280px) {
	
}

@media only screen and (min-width : 1400px) {

}

@media only screen and (max-width : 1199px) {
  #wrapper {
	overflow:hidden;
  }

}

@media only screen and (max-width : 991px) {
  

}

@media only screen and (max-width : 767px) {
  

}

@media only screen and (max-width : 479px) {
  

}
