<!-- subheader begin-->
        <section id="subheader" data-speed="8" data-type="background">
        	<div class="layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Shop by Category</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
        	<div class="search-box">
				<input class="search-input" type="text" name="" placeholder="Search Product">
				<a href="javascript:void(0);" class="search-btn"><i class="fa fa-search"></i></a>     
			</div>
        </section>
        <!-- subheader close -->
         

        <!-- content begin -->
        <div id="content" class="no-top no-bottom">
        	<div class="customtopUSPS desktop-view">
			    <ul>
			    	<li>All Prices Are Inclusive of Shipping</li>
			        <li>Rush Services For Urgent Orders </li>
			        <li>Round The Clock Customer Support</li>
			       
			    </ul>
			</div>
        	<section data-bgcolor="#f0eae5" class="custom-padding-50">
	        	 <div class="container-fluid">
	        	 	<div class="row">
	        	 		<div class="col-md-12 filter-page">
	        	 			<a href="javascript:void(0)" class="btn-custom text-purple font-weight-bold filter">Show Filter <i class="fa fa-plus"></i></a>

	        	 			<a href="javascript:void(0)" class="btn-custom text-purple font-weight-bold filter-1" style="display: none">Hide Filter <i class="fa fa-minus"></i></a>

	        	 			<div class="woocommerce" style="background-size: cover;">
								<form class="woocommerce-ordering" method="get">
									<select name="orderby" class="orderby" aria-label="Shop order">
										<option value="menu_order" selected="selected">Sort by</option>
										<option value="price">Low To High</option>
										<option value="price-desc">High To Low</option>
										<option value="popularity">Popularity</option>
										<option value="rating">Average Rating</option>
										<option value="date">Latest</option>
									</select>
									<input type="hidden" name="paged" value="1">
								</form>
								</div>
	        	 		</div>
	        	 	</div>
	        	 	<div class="clearfix"></div>
		             <!-- product begin -->
		             	<div class="row custom-padding-30">
		             		<div class="col-md-2 filter-sorting" style="display: none">
		             			<div id="accordion" class="myaccordion">
		             				<div class="filter-clear">
		             					<p><i class="fa fa-filter" aria-hidden="true"></i></p>
		             					<a href="javascript:void(0);"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear</a>
		             				 </div>
									  <div class="card">
									    <div class="card-header" id="headingOne">
									      <h2 class="mb-0">
									        <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									          Colour
									        </button>
									      </h2>
									    </div>
									    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
									      <div class="card-body">
									        <div class="de_form de_chcekbox">
									        	<ul>
				                                   <li>
				                                        <label class="select_filter color_filter" title="Blue">
	                                                      <input type="checkbox" class="filter_check2" >
	                                                       <span class="checkmark blue_colors" title="Blue"></span>
	                                                   </label>
				                                   </li>
				                                   <li>
				                                        <label class="select_filter color_filter" title="Gold">
	            											<input type="checkbox" class="filter_check2"/>
	            											<span class="checkmark gold_colors" title="Gold"></span>
	        											</label>
				                                    </li>
			                                  		<li>
				                                        <label class="select_filter color_filter" title="Green">
	            											<input type="checkbox" class="filter_check2"/>
	            											<span class="checkmark green_colors" title="Green"></span>
	        											</label>
				                                   </li>
				                                   <li>
											            <label class="select_filter color_filter" title="Grey">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark grey_colors" title="Grey"></span>
											            </label>
														</li>
											       <li>
											            <label class="select_filter color_filter" title="Ivory/Cream">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark ivory-cream_colors" title="Ivory/Cream"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Khaki">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark khaki_colors" title="Khaki"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Orange">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark orange_colors" title="Orange"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Peach">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark peach_colors" title="Peach"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Pink">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark pink_colors" title="Pink"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Purple">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark purple_colors" title="Purple"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Red">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark red_colors" title="Red"></span>
											            </label>
											       </li>
											       <li>
											            <label class="select_filter color_filter" title="Silver">
											                <input type="checkbox" class="filter_check2"/>
											                <span class="checkmark silver_colors" title="Silver"></span>
											            </label>
											       </li>
											     </ul>
	                    					</div>
									      </div>
									    </div>
									  </div>

									  <div class="card">
									    <div class="card-header" id="headingTwo">
									      <h2 class="mb-0">
									        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									          Price
									        </button>
									      </h2>
									    </div>
									    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
									      <div class="card-body">
									        <div class="boxes">
												  <input type="checkbox" id="box-a">
												  <label for="box-a">Upto $1</label>

												  <input type="checkbox" id="box-b">
												  <label for="box-b">$1 to $2</label>

												  <input type="checkbox" id="box-c">
												  <label for="box-c">Above $2</label>
											</div>
									      </div>
									    </div>
									  </div>

									  <div class="card">
									    <div class="card-header" id="headingThree">
									      <h2 class="mb-0">
									        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
									          Theme
									        </button>
									      </h2>
									    </div>
									    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
									      <div class="card-body">
									        <div class="boxes">
												  <input type="checkbox" id="box-d">
												  <label for="box-d">Romantic</label>

												  <input type="checkbox" id="box-e">
												  <label for="box-e">Bride-Groom</label>

												  <input type="checkbox" id="box-f">
												  <label for="box-f">Botanical</label>

												  <input type="checkbox" id="box-g">
												  <label for="box-g">Floral</label>

												  <input type="checkbox" id="box-h">
												  <label for="box-h">Elegant</label>

												  <input type="checkbox" id="box-i">
												  <label for="box-i">Modern</label>

												  <input type="checkbox" id="box-j">
												  <label for="box-j">Indo-Persian</label>

												  <input type="checkbox" id="box-k">
												  <label for="box-k">Laser</label>

												  <input type="checkbox" id="box-l">
												  <label for="box-l">Geometrical</label>

												  <input type="checkbox" id="box-m">
												  <label for="box-m">Watercolor</label>

												  <input type="checkbox" id="box-n">
												  <label for="box-n">Beach</label>

												  <input type="checkbox" id="box-0">
												  <label for="box-0">Rustic</label>

												  <input type="checkbox" id="box-v">
												  <label for="box-v">Scroll</label>
											</div>
									      </div>
									    </div>
									  </div>

									  <div class="card">
									    <div class="card-header" id="headingFour">
									      <h2 class="mb-0">
									        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
									          Process
									        </button>
									      </h2>
									    </div>
									    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
									      <div class="card-body">
									        <div class="boxes">
												  <input type="checkbox" id="box-p">
												  <label for="box-p">Embossing</label>

												  <input type="checkbox" id="box-q">
												  <label for="box-q">Foil Printing</label>

												  <input type="checkbox" id="box-r">
												  <label for="box-r">Silk Screen Printing</label>

												  <input type="checkbox" id="box-s">
												  <label for="box-s">Offset/ Digital Printing</label>

												  <input type="checkbox" id="box-t">
												  <label for="box-t">Laser Cutting</label>

												  <input type="checkbox" id="box-u">
												  <label for="box-u">UV Printing</label>

												  <input type="checkbox" id="box-w">
												  <label for="box-w">Flock Printing</label>
											</div>
									      </div>
									    </div>
									  </div>

									  <div class="card">
									    <div class="card-header" id="headingFifth">
									      <h2 class="mb-0">
									        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
									          Occasion
									        </button>
									      </h2>
									    </div>
									    <div id="collapseFifth" class="collapse show" aria-labelledby="headingFifth" data-parent="#accordion">
									      <div class="card-body">
									        <div class="boxes">
												  <input type="checkbox" id="box-x">
												  <label for="box-x">Wedding Invitations</label>

												  <input type="checkbox" id="box-y">
												  <label for="box-y">Holiday Invitations</label>
											</div>
									      </div>
									    </div>
									  </div>
									  <div class="product-category-button">
									  		<a href="javascript:void(0)" class="color-black btn-custom text-purple font-weight-bold">Submit</a>
									  </div>

									</div>
		             			</div>
		             		
		             		<div class="col-md-12 product-display">
		             			<div class="row">
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-3.png">
					                            </a>
					                            <a href="product-detail.html" class="deg_btn">
			                           				<img src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/color-circle-2.png">
			                           				<span>+2</span>
			                           			</a>
					                            <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>				           
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-4.png">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                 <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-5.png">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-6.png">
					                            </a>
					                            <a href="javascript:void(0)" class="deg_btn">
			                           				<img src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/color-circle-2.png">
			                           			<span>+2</span></a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-7.png">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-1.png">
					                            </a>
					                            <a href="javascript:void(0)" class="deg_btn">
			                           				<img src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/color-circle-2.png">
			                           			<span>+2</span></a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                 <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/10/Card-2.png">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/1-2.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/2-1.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/6.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                 <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/Kala-Chaiye.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/1-2.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/2-1.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/6.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
					                 <div class="col-md-4 col-sm-6">
					                    <div class="product-grid">
					                        <div class="product-image">
					                            <a href="product-detail.html" class="image">
					                                <img class="pic-1" src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/Kala-Chaiye.jpg">
					                            </a>
					                             <ul class="social">
					                                <li><a href="javascript:void(0);" data-tip="Add to Wishlist"><i class="fa fa-heart-o"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Share"><i class="fa fa-share"></i></a></li>
                        							<li><a href="#gallery-1" class="btn-gallery" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        							<li><a href="javascript:void(0);" data-tip="Add to Cart"><i class="fa fa-shopping-bag"></i></a></li>
					                            </ul>
					                        </div>
					                        <div class="product-content">
					                            <h3 class="title">Atomic Tangerine</h3>
					                            <div class="price"><i class="fa fa-usd"></i>2.05</div>
					                        </div>
					                    </div>
					                </div>
			            		</div>
			            	</div>
	            		</div>
		             <!-- product close -->

		             <!-- Pagination begin -->
		             <div id="app" style="margin-top: 20px;">
						  <div class="button active"></div>
						  <div class="button"></div>
						  <div class="button"></div>
						  <div class="button"></div>
					</div>
					<!-- Pagination close -->
	            </div>
            </section>


            <!--custom section begin -->
             <section data-bgcolor="#f0eae5" class="no-top">
                <div class="container">
                    <div class="row">
						<img src="https://www.123weddingcards.com/blog/wp-content/uploads/2020/09/Untitled-1.png" class="img-responsive" alt="" style="width: 100%; border-radius: 5px;">
					</div>
                    </div>
            </section>
            <!--custom section close -->


            <!-- section begin -->
            <section class="call-to-action text-light padding40" aria-label="cta" data-bgcolor="#ceba84">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3 class="size-2 no-margin">Looking for something else? </h3>
                        </div>

                        <div class="col-md-4 text-right">
                            <a href="custom.html" class="btn-line-white wow fadeInUp font-weight-bold">Make your Invite</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


        </div>
