<footer>
<div class="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; 2003- 2020 Charu Overseas an ISO 9001 certified company. All rights reserved.
                 <div class="social-icons">
                    <a href="https://www.facebook.com/123WeddingCards" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="https://twitter.com/123WeddingCards" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://www.pinterest.com/123weddingcards" target="_blank"><i class="fa fa-pinterest-p fa-lg"></i></a>
                    <a href="https://www.linkedin.com/company/123weddingcards" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="https://www.instagram.com/123weddingcard" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="https://www.youtube.com/123WeddingCards" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
               	<div class="footer-menu">
               		<ul>
               			<li><a href="faq.html">FAQ</a></li>
               			<li><a href="contact-us.html#terms">Terms & Policy</a></li>
               			<li><a href="announcement.html">Announcements</a></li>
               		</ul>
               	</div>
            </div>
        </div>
    </div>
</div>
<a href="#" id="back-to-top"></a>
</footer>

<!--Login Modal Start -->
<div class="modal fade text-dark text-dark modal-box" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content clearfix">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <div class="modal-body">
		<div class="icon">
            <i class="fa fa-sign-in"></i>
        </div>
         <h3 class="title">123WeddingCards</h3>
         <p class="description">Sign in with social media</p>
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
            </ul>
         <p class="or">OR</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your email here...">
                <span class="input-group-btn">
                    <button class="btn btn-default subscribe" type="button">Continue</button>
                </span>
            </div>
	  </div>
	</div>
  </div>
</div>
	<!--Login Modal End -->